---
import Layout from '../../../theme/Default.astro'
// import Embed_ from './Embed.vue'
import Embed_ from './Embed.svelte'
---

<Layout>
	<div class="mx-auto max-w-xl">
		<Embed_ client:load />
	</div>
</Layout>
