---
import Layout from '../../../theme/Default.astro'
import EmbedVue from './Embed.vue'
import EmbedSvelte from './Embed.svelte'
---

<Layout>
	<div class="mx-auto max-w-xl">
		<EmbedVue client:load />
		<EmbedSvelte client:load />
	</div>
</Layout>
